<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Classification</title>
<style type="text/css">
body {
    margin:50px 0; 
    padding:0;
    text-align:center;
    background-color:#383838;
    color:#FFFFFF;
}

#Content {
    width:500px;
    margin:0 auto;
    text-align:left;
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
}
</style>
</head>

<!-- Main Body -->
<body style = "font-family:courier,arial,helvetica;">
	<h1>Transaction is: </h1>
	<h3>{{ prediction }}</h3>
	<h4>Accuracy - {{ percent_accuracy }}%</h4>
</body>

</html>